.header{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("112121.jpg");
    background-color: rgb(122, 158, 146);
    padding: 20px;
    color: azure;
    display: flex;
    justify-content: flex-end; bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.toplist{
    background-color: rgb(75, 75, 75);
    background-size: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0 0;
}
ul{
    list-style: none;
}
li{
    color: whitesmoke;
    display: inline-block;
    margin-right: 10px;
    border-bottom: 2px solid rgb(153, 151, 151);
}
h1{
    
    background-color: rgb(4, 27, 129);
}
about{
    display: inline-flex;
}